.main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.upperInfo{
    display: flex;
    margin-bottom: 40px;
}


.bootomInfo{
    display: flex;
}
.degrees{
    font-size: 4vw;
    font-weight: bold;
}
.cityTime{
    display: flex;
    flex-direction: column;
}
.city{
    font-size: 10vw;
}

.city span{
    font-size: 1.5vw;
}

.daytime,.humidity,.pressure,.speed{
    margin-left: 50px;

    font-family: 'Circular-Loom';
    text-align: center;
}
.degrees,.cityTime{
    margin-right: 30px;
}

@media (max-width: 600px){
    .main{
        margin-top: 30px;
    }
    .upperInfo{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .bootomInfo{
        font-size: 8px;
        margin-bottom: 20px;
    }
    .daytime,.humidity,.pressure,.speed{
        margin-left: 30px;
        font-family: 'Circular-Loom';
        text-align: center;
    }

}